.cart-view-container{
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
    border-radius: 8px;

    background-color: var(--realWhite);
    color: var(--black);
    margin: 5px 5px 5px 5px;
    padding:20px;
    width: 92%;

}

.no-shadow{
    box-shadow: none;
    border-style: solid;
    border-color: var(--grey);
    border-radius: 8px;
    border-width: 1px;

}

.cart-view-buttons-container{
    display:flex;
    justify-content: flex-end;
    border-radius: 8px;
    border-color: var(--red);
    padding: 10px;
    width: 92%;


}

.cart-view-container > h2{
    margin:8px;
}

.cart-view-container > p {
    font-size: 12px;
}

.cart-view-item{
    
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

    border-color: var(--black);
    background-color: var(--realWhite);

    border-radius: 10px;
    border-style: none;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    margin:8px;
    width: 92%;
    
}

.cart-view-item > h3{
    font-size: 18px;
    font-style: bold;
}

.cart-view-item > p{
    font-size: 14px;
}

.cart-item-img{
    /* height: 150px; */
    width: 8%;
    border-radius: 8px;
    margin: 12px 0 12px 0;
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

}

.cart-number{

    font-size: 16px;
    color:var(--red);
}

.cart-view-final-price{
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

    color: var(--red);
    border-color: var(--black);

    border-width: 1px;

    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    font-size: 14px;
    padding: 10px;
    margin: 12px 0 12px 0;
    width: 92%;
}

.cart-view-title{
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

    color: var(--white);
    border-color: var(--black);
    background-color: var(--red);

    border-radius: 8px;
    border-style: none;

    font-size: 16px;
    padding: 10px;
    margin: 12px 0 12px 0;
    width: 92%;


}



.cart-view-message{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 10px;

    margin:8px;

    color: var(--grey);

}



.cart-view-item-taxes{
    
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

    border-color: var(--red);
    background-color: var(--grey);
    color: var(--red);

    border-radius: 10px;
    border-style: none;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    margin:8px;
    width: 92%;
    
}

/* boton para agregar cantidad */
.cart-view-button{
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border-width: 1px;

    color: var(--red3);
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    background-color: #F0F0F0;
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 10px 0 10px;
    height: 40px;
    width: 200px;

}

/* HOVER boton para agregar cantidad */
.cart-view-button:hover{
    border-radius: 10px;
    border-color: var(--red3);
    cursor:pointer;
    color: #F0F0F0;
    background-color: #D13639;
}

.payment-resume-item{

    border-color: var(--black);
    background-color: var(--realWhite);

    border-radius: 3px;
    border-style: none;
    border-bottom-style: dashed;
    border-width: 1px;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    margin: 12px 0 12px 0;

    width: 92%;
    
}