:root {
    --realWhite:#F0F0F0;
    --white:#e0e0e0;
    --grey:#c4c0c0;
    --grey2:#585151;
    --black:#2D2D2D;
    --red:#D13639;
    --red2:#F12B15;
    --red3:#811307;
}

*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--white);
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.p-08{padding:08px;}
.p-10{padding:10px;}
.p-15{padding:15px;}
.p-20{padding:20px;}

.m-08{margin:08px;}
.m-10{margin:10px;}
.m-15{margin:15px;}
.m-20{margin:20px;}

.jc-c{justify-content: center;}
.jc-sa{justify-content: space-around;}
.jc-sb{justify-content: space-between;}
.jc-se{justify-content: space-evenly;}
.jc-fs{justify-content: flex-start;}
.jc-fe{justify-content: flex-end;}

.ai-c{align-items: center;}
.ai-sa{align-items: space-around;}
.ai-sb{align-items: space-between;}
.ai-fs{align-items: flex-start;}
.ai-fe{align-items: flex-end;}

.w-100{width: 100%;}
.w-75{width: 75%;}
.w-50{width: 50%;}
.w-20{width: 20%;}
.w-10{width: 10%;}

.h-100{height: 100%;}
.h-75{height: 75%;}
.h-50{height: 50%;}
.h-20{height: 20%;}
.h-10{height: 10%;}





