/* ITEM LIST CONTAINER */

.item-list-container{
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
    border-radius: 8px;

    background-color: var(--realWhite);
    color: var(--black);
    margin: 5px 5px 5px 5px;
    padding:20px;

    display:flex;
    flex-direction: row;
}