
.navbar{
    color: var(--white);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    height: 10vh;
    width: 100vw;
    margin: px;
}

.nav-brand{ 

    color: var(--white);
    background-color: inherit;
    font-size: 20px;
    font-style: bold;
    letter-spacing: 1px;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    border-style: none;

    transition: font-size, 500ms, ease-in-out;

}

.nav-brand:hover{
    color: var(--realWhite);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);

}

.navbar ul{
    margin: 0 8px 0 20px;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.nav-bar li, i{
    padding-right: 10px;
}

.navbar .logo{
    padding-left: 20px;
}

.nav-btns-container{
    display:flex;
    align-items: center;
}

.link-navbar{

    display:flex;
    align-items: center;
    padding-inline: 10px;
    margin-inline: 5px;
    text-decoration: none;
    border-radius: 8px;
    transition:450ms;

    height: 6vh;
    color: var(--white);
    background-color: var(--red);
    border-style: none;

}

.link-navbar:hover{
    background-color: #F12B15;
    color: var(--realWhite);
    cursor: pointer;
}

.nav-btns-container{
    display:flex;
    justify-content: space-evenly;

    padding-inline: 2vw;
}