/* SUB-MENU */

.sub-menu{
    color: var(--white);
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red);

    width: 170px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
    margin: 5px 5px 5px 5px;

}

.sub-menu > ul {
    list-style: none;
    width: 80%;
}

.sub-menu-button {
    
    border-style: none;

    border-radius: 8px;
    margin: 20px;
    padding: 12px;

    display:flex; 
    justify-content: center;
    transition: 150ms, ease-in-out;

    background-color: inherit;
    color: inherit;

    width: 80%;
    height: 8%;
    
}

.sub-menu-button:hover{
    color: var(--realWhite);
    background-color: var(--red2);
    cursor: pointer;
}