:root {
    --white:#F0F0F0;
    --grey:#c4c0c0;
    --grey2:#585151;
    --black:#2D2D2D;
    --red:#D13639;
    --red2:#F12B15;
    --red3:#811307;
}

*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    color: #F0F0F0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    height: 10vh;
}

.navbar h2{
    display:flex;
    justify-content: center;
    align-items: center;


    border-radius: 20px;

    height: 6vh;
    padding-inline: 10px;
}


li, i{
    padding-right: 10px;
}

.navbar .logo{
    padding-left: 20px;
}

.nav-btns-container{

    display:flex;
    align-items: center;

}

.btn-navbar{
    height: 4vh;
    border-style: solid;
    border-width: 1px;
    color: #D13639;
    background-color: #F0F0F0;
}

.btn-navbar:hover{
    color: #2D2D2D; 
    cursor:pointer;
}


.navbar ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.navbar a{
    display:flex;
    align-items: center;
    padding-inline: 10px;
    margin-inline: 20px;
    text-decoration: none;
    border-radius: 20px;
    transition:450ms;
}

.link-navbar{
    height: 6vh;
    color: #F0F0F0;
}

.navbar .link-navbar:hover{
    background-color: #F12B15;
}

.nav-btns-container{
    display:flex;
    justify-content: space-evenly;

    padding-inline: 2vw;
}


/* SHOPPING CART */

.shopping-cart{
    right: 20px;
    display:flex;
    padding-inline: 20px;
    border-radius: 20px;
}

.shopping-cart:hover{

    background-color:#2D2D2D ;
    cursor:pointer;
}

/* ITEM  */

.item{

    border-color: var(--black);
    background-color: var(--white);

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    margin: 0 0 10px 10px;
    width: 30%;

}

.item-img{
    height: 150px;
    border: 0.5px dashed var(--grey2);
    border-radius: 12px;
    margin-bottom: 12px;
}

.item-btn-detail{
    border:  0.5px solid var(--red2);
    color: var(--red);
    border-radius: 20px;
    width: 50%;
    margin: 10px 0 10px 0;
    padding: 12px;
    font-weight: lighter;
    transition: 450ms;
    text-decoration: none;
    text-align: center;
}

.item-btn-detail:hover{
    cursor: pointer;
    background-color: var(--black);
    color:var(--white);
}


/* ITEM LIST */
.item-list{

    border-color: var(--red);
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 30px;
    margin-top:10px;

    background-color: var(--white);

}


/* ITEM LIST CONTAINER */

.item-list-container{
    border-color: #2D2D2D;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    color: #2D2D2D;
    background-color: #F0F0F0;
    padding:20px;
}

/* ITEMCOUNT */
.item-count{
    border-color: #2D2D2D;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    width: 190px;
    height: 80px;

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #F0F0F0;

}

/* interfaz botones + y - */
.item-count-add-ui{
    display:flex;
    justify-items: center;
    align-items: center;    
}

/*  botones + y - */
.item-count-add-ui-button{
    transition: all 0.3s ease-in-out;
    border-color: #2D2D2D;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    font-size: 14px;

    background-color: #F0F0F0;
    padding-inline:25px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: #2D2D2D;
    background-color: #F0F0F0;
}

.item-count-add-ui-button:hover{
    border-radius: 10px;
    border-style: solid;
    border-width: 1.2px;
    cursor:pointer;
    color: #F0F0F0;

    background-color: #D13639;
}

/* visor de cantidad a agregar */
.item-count-add-ui-viewer{

    border-radius: 5px;

    color: var(--red);
    font-size: 14px;

    padding-inline:20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

/* boton para agregar cantidad */
.item-count-button{
    transition: all 0.3s ease-in-out;
    border-color: #2D2D2D;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;

    background-color: #F0F0F0;
    padding-inline:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* HOVER boton para agregar cantidad */
.item-count-button:hover{
    border-radius: 10px;
    border-style: solid;
    border-width: 1.2px;
    cursor:pointer;
    color: #F0F0F0;
    background-color: #D13639;
}