:root {
    --realWhite:#F0F0F0;
    --white:#e0e0e0;
    --grey:#c4c0c0;
    --grey2:#585151;
    --black:#2D2D2D;
    --red:#D13639;
    --red2:#F12B15;
    --red3:#811307;
}

*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--white);
}

.navbar{
    color: #F0F0F0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    height: 10vh;
    width: 100vw;
    margin: px;
}

.nav-brand{ 
    height: 6vh;
    padding-inline: 10px;
    color: var(--white);
}

.nav-brand:hover{
    color: var(--realWhite  );
    background-color: rgba(255, 255, 255, 0.07)

}



li, i{
    padding-right: 10px;
}

.navbar .logo{
    padding-left: 20px;
}

.nav-btns-container{

    display:flex;
    align-items: center;

}

.btn-navbar{
    height: 4vh;
    color: var(--white);
    transition: 900ms ease-in-out;
    height: 50px;
}

.btn-navbar:hover{
    background-color: var(--realWhite);
    cursor: pointer;
    color:var(--red2);
}


.navbar ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.navbar a{
    display:flex;
    align-items: center;
    padding-inline: 10px;
    margin-inline: 5px;
    text-decoration: none;
    border-radius: 8px;
    transition:450ms;
}

.link-navbar{
    height: 40px;
    color: var(--white);

}

.navbar .link-navbar:hover{
    background-color: #F12B15;
    color: var(--realWhite);
}

.nav-btns-container{
    display:flex;
    justify-content: space-evenly;

    padding-inline: 2vw;
}


/* SHOPPING CART */

.shopping-cart{
    transition: 350ms ease-in-out;
    right: 20px;
    display:flex;
    padding-inline: 20px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 50px;
    color:var(--white)
}

.shopping-cart:hover{

    background-color:var(--red2);

    color:var(--realWhite);
    cursor:pointer;
}

/* ITEM  */

.item{

    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

    border-color: var(--black);
    background-color: var(--realWhite);

    border-radius: 10px;
    border-style: none;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;

    margin:12px;
    width: 30%;

}

.item-img{
    /* height: 150px; */
    width: 75%;
    border-radius: 8px;
    margin: 12px 0 12px 0;
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);

}

.item-btn-detail{
    border:  0.5px solid var(--white);
    color: var(--grey2);
    border-radius: 12px;
    width: 40%;
    margin: 7px 0 7px 0;
    padding: 8px;
    font-weight: lighter;
    transition: 450ms;
    text-decoration: none;
    text-align: center;
}

.item-btn-detail:hover{
    cursor:pointer;
    color:var(--red2);
    border-color: var(--red2);
}


/* ITEM LIST */
.item-list{




    border-radius: 8px;

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 30px;
    margin-top:10px;

    background-color: white;

}


/* ITEM LIST CONTAINER */

.item-list-container{
    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
    border-radius: 8px;

    background-color: white;
    color: var(--black);
    margin: 5px 5px 5px 5px;
    padding:20px;
}

/* ITEMCOUNT */
.item-count{
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* interfaz botones + y - */
.item-count-add-ui{
    display:flex;
    justify-items: center;
    align-items: center;    
    margin-inline: 12px;
}


/* visor de cantidad a agregar */
.item-count-add-ui-viewer{

    border-radius: 5px;

    color: var(--red);
    font-size: 18px;
    font-weight: bolder;

    padding-inline:20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

/* boton para agregar cantidad */
.item-count-button{
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border-width: 1px;

    color: var(--red3);
    border-style: none;
    background-color: #F0F0F0;
    padding-inline:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* HOVER boton para agregar cantidad */
.item-count-button:hover{
    border-radius: 10px;
    border-color: var(--red3);
    cursor:pointer;
    color: #F0F0F0;
    background-color: #D13639;
}


.item-detail-container{
    border-color: var(--red2);
    background-color: var(--grey);
    color: var(--black);
    border-style: solid;
    border-width: 1px;
    margin: 5px 5px 5px 5px;
    padding:20px;
}

.item-detail{

    box-shadow: 8px 8px 8px rgba(140, 120, 120, 0.3);
    border-radius: 8px;

    border-color: var(--black);
    background-color: var(--realWhite);

    border-style: solid;
    border-width: 1px;


    border: 1px solid var(--grey);
    background-color: var(--white);
    color: var(--red3);

    display:flex;
    justify-content: space-around;
    padding: 20px;

}
.item-detail img{
    height: 200px;
    border: 0.8px dashed var(--red3);
    border-radius: 9px;
}

.item-detail-div-right{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 70%;
    font-weight: lighter;
}
.item-detail-div-ui{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 70%;
    font-weight: lighter;
}

